<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<style type="text/css">
  
  .progressCirculardemoBasicUsage body {
  padding: 20px; }
.progressCirculardemoBasicUsage h4 {
  margin: 10px 0; }
.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px; }
.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; }
.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0; }
.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; }
.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px; }
.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); }
.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em; }
.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0); }


</style>

</head>
<body ng-app="BlankApp" ng-cloak>
  <!--
    Your HTML content here
  -->  

  <button id="go" class="btn btn-primary">Co-browse Only Mode</button> 

   <h3 id="short-code"></h3>
   
    <!-- The button to end an Assist Session will only be visible while assist is active -->
    <button id="end" class="btn btn-primary">End support</button>

<div ng-controller="AppCtrl as vm" layout="column" ng-cloak>
  <md-content layout-padding>
    <h4>Determinate</h4>
    <p>For operations where the percentage of the operation completed can be determined, use a determinate indicator. They
      give users a quick sense of how long an operation will take.</p>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
    </div>
    <h4>Indeterminate</h4>
    <p>For operations where the user is asked to wait a moment while something finishes up, and it's not necessary to
      expose what's happening behind the scenes and how long it will take, use an indeterminate indicator.</p>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <h4>Theming</h4>
    <p>
      Your current theme colors can be used to easily colorize your progress indicator with `md-warn` or `md-accent`
      colors.
    </p>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular ng-disabled="!vm.activated" class="md-hue-2" md-diameter="20px"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" class="md-accent" md-diameter="40"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" class="md-accent md-hue-1" md-diameter="60"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" class="md-warn md-hue-3" md-diameter="70"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" md-diameter="96"></md-progress-circular>
    </div>
  </md-content>
  <md-content md-theme="docs-dark" layout-padding>
    <h4>Dark theme</h4>
    <p>
      This is an example of the <b>&lt;md-progress-circular&gt;</b> component, with a dark theme.
    </p>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular ng-disabled="!vm.activated" class="md-hue-2" md-diameter="20px"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" class="md-accent" md-diameter="40"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" class="md-accent md-hue-1" md-diameter="60"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" class="md-warn md-hue-3" md-diameter="70"></md-progress-circular>
      <md-progress-circular ng-disabled="!vm.activated" md-diameter="96"></md-progress-circular>
    </div>
  </md-content>
  <md-content layout="row" layout-align="start center" layout-padding>
    <p>Progress Circular Indicators: </p>
    <h5>Off</h5>
    <md-switch
        ng-model="vm.activated"
        aria-label="Toggle Progress Circular Indicators">
      <h5>On</h5>
    </md-switch>
  </md-content>
</div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    //  angular.module('BlankApp', ['ngMaterial']);

    angular
      .module('BlankApp', ['ngMaterial'])
      .controller('AppCtrl', ['$interval',
        function($interval) {
          var self = this;
          self.activated = true;
          self.determinateValue = 30;
          // Iterate every 100ms, non-stop and increment
          // the Determinate loader.
          $interval(function() {
            self.determinateValue += 1;
            if (self.determinateValue > 100) {
              self.determinateValue = 30;
            }
          }, 100);
        }
      ]);
  </script>

  <script src="https://cs-creditsuisse.cafex.com:8443/assistserver/sdk/web/consumer/assist.js" type="application/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>

// cache the UI elements that we will be interacting with
  var $endButton = $('#end');
  var $codeDisplay = $('#short-code');
  
  // when the support button is clicked...
  $('#go').click(function (event) {
    event.preventDefault();
    
    
    // Retrieve a short code
    $.ajax('https://cs-creditsuisse.cafex.com:8443/assistserver/shortcode/create', {
      method: 'put',
      dataType: 'json'
    })
    .done(function (response) {

      // Retrieve session configuration (session token, CID etc.)
      $.get('https://cs-creditsuisse.cafex.com:8443/assistserver/shortcode/consumer', {
        appkey: response.shortCode
      }, function (config) {

        // translate the config retrieved from the server, into
        // parameters expected by AssistSDK
        var params = {
          cobrowseOnly: true,
          correlationId: config.cid,
          scaleFactor: config.scaleFactor,
          sessionToken: config['session-token']
        };

        // start the support session
        AssistSDK.startSupport(params);
        
        // display the code for the consumer to read to the agent
        $codeDisplay.text(response.shortCode);
      }, 'json');
    });
  });


  // configure Assist to automatically approve share requests
  AssistSDK.onScreenshareRequest = function () {
    return true;
  };

  // the $endSupport button will be hidden
  // $endButton.hide().css('display', 'inline');

  // when screenshare is active, toggle the visibility of the 'end' button
  AssistSDK.onInSupport = function () {
    $endButton.show();
  };

  AssistSDK.onEndSupport = function () {
    $endButton.hide();
    $codeDisplay.text('');
  };

  $endButton.click(function () {
    AssistSDK.endSupport();
  });
  
  $endButton.click(function(){
    AssistSDK.onEndSupport();
  });
  
  AssistSDK.onEndSupport = function() {
    console.log("Live Assist session ended");
  };

</script>
  
</body>
</html>